<template>
    <div class="bg-light w-100">
        <section class="container">
            <div class="row align-items-center jumbotron">
                <div class="col">
                    <div class="jumbotron bg-light">
                        <h3 class="header " style="padding-bottom: 10px;">
                            Can't decide what to eat? <br />
                            We've got you covered
                        </h3>
                        <button class="button" role="button">
                            Get Started
                        </button>
                    </div>
                </div>
                <div class="col">
                    <img src="../assets/main-burger-image.png" />
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {};
</script>
