<template>
    <div>
        <Header />
        <div class="container">
            <div style="width:80%; margin: 0 auto;">
                <div class="row border-bottom main-color">
                    <div class="col">
                        <h2 class="text-center">
                            Lets start with a few questions
                        </h2>
                    </div>
                </div>
                <!-- THESE ARE THE OPTIONS -->
                <div class="row mt-4">
                    <div class="col-12">
                        <h4>How many people are ordering food?</h4>
                    </div>
                    <div class="col-12">
                        <input
                            type="number"
                            id="quantity"
                            name="quantity"
                            v-model="item.people"
                            min="1"
                            max="5"
                        />
                    </div>
                </div>
                <div class="col-12">
                    <b-row>
                        <div class="col-12">
                            <h4>Any dietary preferences?</h4>
                        </div>
                        <div class="optionbox">
                            <img id="gluten" src="../assets/gluten.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.glutenFree"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Gluten Free
                                <!-- <b>(Checked: {{ item.restrictions.glutenFree }})</b> -->
                            </b-form-checkbox>
                        </div>
  
                            <div class="optionbox">
                            <img id="vegetarian" src="../assets/vegetarian.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.vegetarian"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Vegetarian
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>

                    </b-row>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4>What are you craving?</h4>
                    </div>
                    <b-row>
                   <div class="optionbox">
                            <img id="burger" src="../assets/burger.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.burger"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Burger
                                <!-- <b>(Checked: {{ item.restrictions.glutenFree }})</b> -->
                            </b-form-checkbox>
                        </div>
  
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/beer-drink-jar-outline.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.alcohol"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Alcohol
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/tuna.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.seafood"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Seafood
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/spaguetti.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.pasta"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Pasta
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/dining.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.finedining"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Fine Dining
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                    </b-row>
                    <b-row>
                   <div class="optionbox">
                            <img id="burger" src="../assets/pizza.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.pizza"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Pizza
                                <!-- <b>(Checked: {{ item.restrictions.glutenFree }})</b> -->
                            </b-form-checkbox>
                        </div>
  
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/croissant.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.croissant"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                French
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/coffee-cup.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.coffee"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Coffee
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/bread.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.bread"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Bakery
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/english-breakfast.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.brunch"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Brunch
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                    </b-row>
                    <b-row>
                   <div class="optionbox">
                            <img id="burger" src="../assets/kebab.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.persian"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Persian
                                <!-- <b>(Checked: {{ item.restrictions.glutenFree }})</b> -->
                            </b-form-checkbox>
                        </div>
  
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/meat.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.steak"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Steak
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/salad.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.salad"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Salad
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/sushi.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.sushi"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Sushi
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/taco.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.mexican"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Mexican
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                    </b-row>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4>Spice Level?</h4>
                    </div>
                       <b-row>
                   <div class="optionbox">
                            <img id="burger" src="../assets/level-one-spice.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.mild"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Mild
                                <!-- <b>(Checked: {{ item.restrictions.glutenFree }})</b> -->
                            </b-form-checkbox>
                        </div>
  
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/level-two-spice.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.medium"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Medium
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/level-three-spice.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.extra"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Extra
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>


                    </b-row>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4>Specific meal in mind?</h4>
                    </div>
                    <div class="col-8">
                        <b-form-input
                            v-model="meal"
                            placeholder="Type the meal here..."
                        ></b-form-input>
                    </div>
                    <div class="col-4">
                        <button @click="addMeal" class="button" role="button">
                            Add
                        </button>
                    </div>
                </div>
                <div v-if="item.meals.length" class="row">
                    <div class="col-3" v-for="meal in item.meals" :key="meal">
                        <div class="button">
                            {{ meal }}
                            <a
                                v-on:click.prevent="
                                    (event) => deleteMenu(event, meal)
                                "
                                href="#"
                                >X</a
                            >
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4>How much are you willing to spend?</h4>
                    </div>
                    <div class="optionbox">
                            <img id="alcohol" src="../assets/level-one-money.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.l1m"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Cheap
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/level-two-money.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.l2m"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Medium
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/level-three-money.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.l3m"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Expensive
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                    <!-- <div class="col-12">
                        <div>
                            <b-form-radio-group
                                v-model="item.cost.value"
                                :options="item.cost.options"
                                name="radio-validation"
                            >
                            </b-form-radio-group>
                        </div>
                    </div> -->
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4>Noise Preference?</h4>
                    </div>
                                        <div class="optionbox">
                            <img id="alcohol" src="../assets/level-one-noise.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.quiet"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Quiet
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/level-two-noise.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.avg"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Average
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                            <div class="optionbox">
                            <img id="alcohol" src="../assets/level-three-noise.svg">
                            <b-form-checkbox
                                v-model="item.restrictions.loud"
                                name="check-button"
                                button
                                button-variant="link"
                                size="lg"
                            >
                                Loud
                                <!-- <b>(Checked: {{ item.restrictions.vegetarian }})</b> -->
                            </b-form-checkbox>
                            </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <button @click="query" class="button" role="button">
                            Get Recommendations
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Libraries
import axios from "axios";

// Components
import Header from "./Header";

// Constants
const URL = "martinsURL";

export default {
    props: ["testProp"],
    components: { Header },
    data() {
        return {
            meal: "",
            item: {
                people: 1,
                restrictions: { glutenFree: false, vegetarian: false },
                craving: { burgers: false, alcohol: false },
                spice: {
                    value: null,
                    options: [
                        { text: "mild", value: 1 },
                        { text: "medium", value: 2 },
                        { text: "spicy", value: 3 },
                    ],
                },
                meals: [],
                travel: 50,
                cost: {
                    value: null,
                    options: [
                        { text: "cheap", value: 1 },
                        { text: "average", value: 2 },
                        { text: "expansive", value: 3 },
                        { text: "extravagant", value: 4 },
                    ],
                },
                noise: {
                    value: null,
                    options: [
                        { text: "quiet", value: 1 },
                        { text: "average", value: 2 },
                        { text: "loud", value: 3 },
                    ],
                },
            },

            // Spinners
            spinner: false,
        };
    },
    methods: {
        addMeal() {
            if (this.meal == "") {
                alert("Please enter a meal...");
                return;
            }

            if (this.item.meals.filter((meal) => meal === this.meal).length) {
                alert("Meal already entered...");
                return;
            }

            this.item.meals.push(this.meal);
            this.meal = "";
        },
        deleteMenu(event, meal) {
            this.item.meals = this.item.meals.filter((item) => item !== meal);
        },
        query() {
            this.spinner = true;
            axios
                .post(URL, { ...this.item })
                .then(({ data }) => {
                    console.log(data);
                    this.spinner = false;
                })
                .catch((err) => {
                    console.log(err);
                    this.spinner = false;
                });
        },
    },
};
</script>

<style lang="css">
.header {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: bold;
}
.button {
    background-color: #f7c653;
    border-radius: 28px;
    border: 1px solid #f7c653;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: none;
}
.button:hover {
    background-color: white;
    border: 1px solid #f7c653;
    color: #f7c653;
}
.button:active {
    position: relative;
    top: 1px;
}
.button:active {
    position: relative;
    top: 0px;
}
div.button:hover {
    background-color: #f7c653;
    border: 1px solid #f7c653;
    color: white;
}
div.button a {
    color: black;
}
.button:active {
    position: relative;
    top: 1px;
}

.main-color {
    border-color: #f7c653 !important;
}
input {
    border-radius: 28px;
    border: 1px solid grey;
    width: 85px;
    padding: 8px 15px 8px 18px;
}

.glyphicon:before {
    visibility: visible;
}
.glyphicon.glyphicon-star-empty:checked:before {
    content: "\e006";
}
input[type="checkbox"].glyphicon {
    visibility: hidden;
}

h4, h2 {
    padding: 10px;
}
.optionbox{
    height:174px !important;
    width: 174px !important;
    border-radius: 38px;
    border: 1px solid grey;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.optionbox:hover{
    background-color:  #f7c653 ;
    border:none;
}
#gluten{
    padding-top: 20px;
    width: 19px;
    height: 83px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#vegetarian{
    padding-top: 20px;
    width: 62px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#burger, #alcohol{
    padding-top: 20px;
    width: 80px;
    height: 79px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn-link{
    color: black !important;
    text-decoration: none !important;
}
.form-control{
    border-radius: 30px !important;
}
.checked {
  background-color: #f7c653;
}


</style>
