<template>
    <Main test-prop="Just to make sure we good" />
</template>

<script>
import Main from "./components/Main.vue";

export default {
    name: "Food-App",
    components: {
        Main,
    },
    mounted: function() {
        console.log(this.axios);
    },
};
</script>
